body{
    background-color: red;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}